[phases.setup]
nixPkgs = ["python311", "chromium", "xorg.xvfb", "xorg.xdpyinfo"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",
  "playwright install chromium",
  "playwright install-deps chromium"
]

[start]
cmd = "bash start.sh"

